.grid-main{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aqua;

}

.grid-item{
    background-color: blueviolet;
    color: black;
    border: 6px solid green;
}