h1{
    color:aqua;
    font-family:'Times New Roman', Times, serif;
}

.para{
    background-color: blueviolet;
    font-size: medium;
}

#list{
    color:brown;
    background-position: 10px;
    background-color: blue;
}